torch
tensorboard
torch-tb-profiler
datasets
tokenizers
tqdm
torchmetrics
altair
ipykernel
setuptools
packaging
sphinx
sphinx-autodoc-typehints 
sphinx-copybutton
sphinx-design
sphinx-favicon
nbsphinx
pydata-sphinx-theme
myst-parser
playwright