torch
tensorboard
torch-tb-profiler
datasets
tokenizers
tqdm
torchmetrics
altair
sphinx
sphinx-autodoc-typehints 
sphinx-copybutton
sphinx-design
sphinx-favicon
nbsphinx
pydata-sphinx-theme
ipykernel
myst-parser 
playwright