torch
tensorboard
torch-tb-profiler
datasets
tokenizers
tqdm
torchmetrics
altair
sphinx
sphinx-autodoc-typehints 
sphinx-copybutton
nbsphinx
pydata-sphinx-
sphinx-design
sphinx-favicon
ipykernel 